In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_excel('/Users/vchitr014/Documents/AWS-Trusted-Advisor.xls')

df

In [ ]:
df.tail(20)

In [ ]:
awsdf = df[9:]

In [ ]:
awsdf.info

In [ ]:
awsdf.columns

In [ ]:
awsdf[['Low Utilization Amazon EC2 Instances' ,'Unnamed: 1' ]]

In [ ]:
awsdf.iloc[0:6,0:5]

In [ ]:
rdf = awsdf.iloc[9:,0] + str(' ') + awsdf.iloc[9:,3] + str(' ') + awsdf.iloc[9:,4]
rdf

In [ ]:
awsdf.dtypes

In [ ]:
awsdf.columns

In [ ]:
awsdf.iloc[0,range(5)]

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
awsdf.values

In [ ]:
awsdflen=len(awsdf.iloc[0])
for x in awsdf.values:
    for y in range(awsdflen):
        print(x[y])

In [ ]:
awsdf.values.tolist()

In [ ]:
for x in awsdf.values.tolist():
    print(x[0:2], x[3:5], "\n")

In [ ]:
newdf = awsdf.iloc[0:,:5]
newdf

In [ ]:
import matplotlib.pyplot as plt

# evenly sampled time at 200ms intervals
t = np.arange(0., 5., 0.2)

# red dashes, blue squares and green triangles
plt.plot(t, t, 'r--', t, t**2, 'bs', t, t**3, 'g^')
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

def f(t):
    return np.exp(-t) * np.cos(2*np.pi*t)

t1 = np.arange(0.0, 5.0, 0.1)
t2 = np.arange(0.0, 5.0, 0.02)

plt.figure(1)
plt.subplot(211)
plt.plot(t1, f(t1), 'bo', t2, f(t2), 'k')

plt.subplot(212)
plt.plot(t2, np.cos(2*np.pi*t2), 'r--')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(1)                # the first figure
plt.subplot(211)             # the first subplot in the first figure
plt.plot([1, 2, 3])
plt.subplot(212)             # the second subplot in the first figure
plt.plot([4, 5, 6])


plt.figure(2)                # a second figure
plt.plot([4, 5, 6])          # creates a subplot(111) by default

plt.figure(1)                # figure 1 current; subplot(212) still current
plt.subplot(211)             # make subplot(211) in figure1 current
plt.title('Easy as 1, 2, 3') # subplot 211 title

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Fixing random state for reproducibility
np.random.seed(19680801)

mu, sigma = 100, 15
x = mu + sigma * np.random.randn(10000)

# the histogram of the data
n, bins, patches = plt.hist(x, 50, normed=1, facecolor='g', alpha=0.75)


plt.xlabel('Smarts')
plt.ylabel('Probability')
#plt.title('Histogram of IQ')
plt.title(r'$\sigma_i=15$')
plt.text(60, .025, r'$\mu=100,\ \sigma=15$')
plt.axis([40, 160, 0, 0.03])
plt.grid(True)
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

ax = plt.subplot(111)

t = np.arange(0.0, 5.0, 0.01)
s = np.tan(3*np.pi*t)
line, = plt.plot(t, s, lw=2)

plt.annotate('local max', xy=(2, 1), xytext=(3, 1.5),
            arrowprops=dict(facecolor='black', shrink=0.05),
            )

plt.ylim(-2,2)
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

from matplotlib.ticker import NullFormatter  # useful for `logit` scale

# Fixing random state for reproducibility
np.random.seed(19680801)

# make up some data in the interval ]0, 1[
y = np.random.normal(loc=0.5, scale=0.4, size=1000)
y = y[(y > 0) & (y < 1)]
y.sort()
x = np.arange(len(y))

# plot with various axes scales
plt.figure(1)

# linear
plt.subplot(221)
plt.plot(x, y)
plt.yscale('linear')
plt.title('linear')
plt.grid(True)


# log
plt.subplot(222)
plt.plot(x, y)
plt.yscale('log')
plt.title('log')
plt.grid(True)


# symmetric log
plt.subplot(223)
plt.plot(x, y - y.mean())
plt.yscale('symlog', linthreshy=0.01)
plt.title('symlog')
plt.grid(True)

# logit
plt.subplot(224)
plt.plot(x, y)
plt.yscale('logit')
plt.title('logit')
plt.grid(True)
# Format the minor tick labels of the y-axis into empty strings with
# `NullFormatter`, to avoid cumbering the axis with too many labels.
plt.gca().yaxis.set_minor_formatter(NullFormatter())
# Adjust the subplot layout, because the logit one may take more space
# than usual, due to y-tick labels like "1 - 10^{-3}"
plt.subplots_adjust(top=0.92, bottom=0.08, left=0.10, right=0.95, hspace=0.25,
                    wspace=0.35)

plt.show()

In [ ]:
import pandas as pd
import xlrd


plumedf = pd.read_csv("/Users/vchitr014/Downloads/plume.csv")
#xlsdf = plumedf.iloc[:,[2,3,8,13,17]].dropna() # InstId, InstType, AZ, PrivIPAddr
xlsdf=plumedf.iloc[:, 2:18]

print(type(xlsdf))
writer = pd.ExcelWriter("/Users/vchitr014/plume_ec2.xlsx")
xlsdf.to_excel(writer,sheet_name="Sheet 3",index=False)
#writer.save()

In [ ]:
import pandas as pd
import xlrd
import matplotlib.pyplot as plt



columns = ['Instances__InstanceId', 'Instances__InstanceType','Instances__Placement__AvailabilityZone','Instances__PrivateIpAddress','Instances__PublicIpAddress']
plumedf = pd.read_csv("/Users/vchitr014/Downloads/plume.csv")

xls = plumedf.loc[:,columns]
xls




#writer = pd.ExcelWriter("/Users/vchitr014/plume_ec2.xlsx")
#xlsdf.to_excel(writer,sheet_name="Sheet 1",index=False)
#writer.save()

In [ ]:
import numpy as np

arr=list(range(10))
type(arr)
a=np.random.rand(4)
a

In [ ]:
b=np.array(np.random.rand(10,5))
b

In [ ]:
m=[[1,2,3,100],[4,5,6,7],[11,12,13,14]]
m

In [ ]:
mat1=np.array(m)
mat1

In [ ]:
np.zeros(1)

In [ ]:
np.zeros((3,8))

In [ ]:
np.ones(2)

In [ ]:
np.ones((2,15))

In [ ]:
np.eye(6)

In [ ]:
np.linspace(0,7,10)

In [ ]:
np.random.rand(4)

In [ ]:
np.random.randn(4)

In [ ]:
np.random.randint(1,1000)

In [ ]:
np.random.randint(0,10**6,5)

In [ ]:
x=np.arange(10)
x

In [ ]:
y=np.random.randint(0,10**9,10)
y

In [ ]:
np.multiply(x,y)

In [ ]:
x.reshape(2,5)

In [ ]:
np.multiply(x.reshape(5,2),np.random.randint(0,10**10,1))

In [ ]:
y.max()

In [ ]:
y.min()

In [ ]:
y.argmax()

In [ ]:
y.argmin()

In [ ]:
y1 =y.reshape(5,2)
y1

In [ ]:
y1.argmax(), y1.argmin()

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

plt.plot(np.linspace(100,1000,10),)

In [ ]:
sl = np.random.randint(1,10**15,20)
sl

In [ ]:
sl[:2]

In [ ]:
sl[15:]

In [ ]:
sl[10:16]

In [ ]:
arrsl=sl[3:9]
arrsl

In [ ]:
arrsl[:]=9000
arrsl

In [ ]:
arrcopy=arrsl
arrcopy[:]=34369758
arrcopy

In [ ]:
np.add(arrsl,arrcopy)

In [ ]:
arr_int=np.random.randint(10,size=[6,6])
arr_int

In [ ]:
arr_pos=np.random.rand(5,5)
arr_pos

In [ ]:
arr_real=np.random.randn(5,5)
arr_real

In [ ]:
arr_real[1:,1:]

In [ ]:
arr_pos[-2:,-2:]

In [ ]:
barr= arr_int > 5
barr

In [ ]:
arr_real[1:5,1:4]

In [ ]:
ta = np.arange(0,101,4)
ta

In [ ]:
ta * 2

In [ ]:
ta * ta

In [ ]:
ta ** 2 - ta

In [ ]:
1/0

In [ ]:
ta/ta

In [ ]:
1/ta

In [ ]:
ta.max(), np.max(ta)

In [ ]:
np.log(ta)

In [ ]:
np.exp(ta)

In [ ]:
np.sin(ta)

In [ ]:
np.cos(ta)

In [ ]:
np.tan(ta)

In [ ]:
np.tanh(arr_real)

In [ ]:
np.sinh(arr_real)

In [ ]:
np.cosh(arr_real)

In [ ]:
np.sinh(ta)

In [ ]:
np.cosh(ta)

In [ ]:
np.arcsin(1)

In [ ]:
np.zeros(10)

In [ ]:
np.ones(10)

In [ ]:
np.ones(10) * 5

In [ ]:
np.arange(10,51)

In [ ]:
np.arange(10,51,2)

In [ ]:
np.arange(0,9).reshape(3,3)

In [ ]:
np.eye(3)

In [ ]:
np.random.rand(1)

In [ ]:
np.random.randn(25).reshape(5,5)

In [ ]:
np.arange(0.01,1.01,0.01).reshape(10,10)

In [ ]:
np.linspace(0,1,20)

In [ ]:
mat=np.arange(1,26).reshape(5,5)
mat

In [ ]:
mat[2:,1:]

In [ ]:
mat[3,4]

In [ ]:
mat[:3,1:2]

In [ ]:
mat[-1]

In [ ]:
mat[3:]

In [ ]:
mat.sum()

In [ ]:
mat.std()

In [ ]:
mat.sum(axis=0) # Add by columns

In [ ]:
mat.sum(axis=1) # Add by rows

In [ ]:
np.random.standard_normal(10)

In [ ]:
std=np.random.randn(15).reshape(5,3)
std

In [ ]:
std.sum(axis=1), std.sum(axis=0)

In [ ]:
np.multiply(std,std)

In [ ]:
dat=np.log1p(std)
print(dat)
for row in range(dat.shape[0]):
    for col in range(dat.shape[1]):
        if dat[row,col]==np.nan:
            print("{} is a not a number".format(row,col))
            print(dat[row,col])
        else:
            print(dat[row,col])

In [ ]:
t=np.array([[[[5,4],[9,4],[6,9],[4,7],[3,10]]]])
t

In [ ]:
t.shape

In [ ]:
t[0][0][4]

In [ ]:
import numpy as np

a=np.array([[1,2,3],[4,5,6],[7,8,9]])

b=np.array([[9,8,7],[6,5,4],[3,2,1]])

np.multiply(a,b)

In [ ]:
def matrixmult (A, B):
    rows_A = len(A)
    cols_A = len(A[0])
    rows_B = len(B)
    cols_B = len(B[0])
    print(len(A),len(A[0]),len(B),len(B[0]))

    if cols_A != rows_B:
      print("Cannot multiply the two matrices. Incorrect dimensions.")
      return

    # Create the result matrix
    # Dimensions would be rows_A x cols_B
    C = [[0 for row in range(cols_B)] for col in range(rows_A)]
    #print(C)

    for i in range(rows_A):
        for j in range(cols_B):
            for k in range(cols_A):
                C[i][j] += A[i][k] * B[k][j]
            
    return C

a=np.arange(30).reshape(6,5)
b=np.arange(10,40).reshape(5,6)
#c=np.matmul(a,b)
#c
c=matrixmult(a,b)
print(c,"\n\n",np.matmul(a,b))

In [7]:
import numpy as np
import pandas as pd

org = 'FB FB GOOG GOOG AMZN AMZN MSFT MSFT AAPL AAPL'.split()
period = pd.date_range('20180501', periods=5)
sales = np.random.randint(500,10000,(10,5))
df = pd.DataFrame(sales,org,period)
df

      2018-05-01  2018-05-02  2018-05-03  2018-05-04  2018-05-05
FB          2241        4662        4610        7535        3758
FB          9494         512        9559        8066         691
GOOG        1483        8420        3792        9072        2691
GOOG        4622        8018        3441        8205        8599
AMZN        8542        1635        4641        7187        1216
AMZN        5874        5852        2534        5144        8613
MSFT        1728        7555        9442        2647        7305
MSFT        7343        7138        2399         737        1126
AAPL        7540        9726        2332        3343        7321
AAPL        3207        4568        7583        7369        5126

In [ ]:
orgdf = df.groupby(org)

In [ ]:
orgdf.max()

In [ ]:
orgdf.min()

In [ ]:
orgdf.mean()

In [ ]:
orgdf.sum()

In [ ]:
orgdf.sum().loc['GOOG']

In [ ]:
df.groupby(org).sum()

In [ ]:
df.groupby(org).mean()

In [8]:
df.groupby(org).describe(percentiles=np.arange(0.0,0.91,0.25)).T

                         AAPL         AMZN           FB         GOOG  \
2018-05-01 count     2.000000     2.000000     2.000000     2.000000
           mean   5373.500000  7208.000000  5867.500000  3052.500000
           std    3063.893683  1886.560892  5128.645484  2219.608186
           min    3207.000000  5874.000000  2241.000000  1483.000000
           0%     3207.000000  5874.000000  2241.000000  1483.000000
           25%    4290.250000  6541.000000  4054.250000  2267.750000
           50%    5373.500000  7208.000000  5867.500000  3052.500000
           75%    6456.750000  7875.000000  7680.750000  3837.250000
           max    7540.000000  8542.000000  9494.000000  4622.000000
2018-05-02 count     2.000000     2.000000     2.000000     2.000000
           mean   7147.000000  3743.500000  2587.000000  8219.000000
           std    3647.256777  2981.869296  2934.493142   284.256926
           min    4568.000000  1635.000000   512.000000  8018.000000
           0%     4568.000000  1635.000000   512.000000  8018.000000
           25%    5857.500000  2689.250000  1549.500000  8118.500000
           50%    7147.000000  3743.500000  2587.000000  8219.000000
           75%    8436.500000  4797.750000  3624.500000  8319.500000
           max    9726.000000  5852.000000  4662.000000  8420.000000
2018-05-03 count     2.000000     2.000000     2.000000     2.000000
           mean   4957.500000  3587.500000  7084.500000  3616.500000
           std    3713.017708  1489.873988  3499.471460   248.194480
           min    2332.000000  2534.000000  4610.000000  3441.000000
           0%     2332.000000  2534.000000  4610.000000  3441.000000
           25%    3644.750000  3060.750000  5847.250000  3528.750000
           50%    4957.500000  3587.500000  7084.500000  3616.500000
           75%    6270.250000  4114.250000  8321.750000  3704.250000
           max    7583.000000  4641.000000  9559.000000  3792.000000
2018-05-04 count     2.000000     2.000000     2.000000     2.000000
           mean   5356.000000  6165.500000  7800.500000  8638.500000
           std    2846.811901  1444.619154   375.473701   613.061579
           min    3343.000000  5144.000000  7535.000000  8205.000000
           0%     3343.000000  5144.000000  7535.000000  8205.000000
           25%    4349.500000  5654.750000  7667.750000  8421.750000
           50%    5356.000000  6165.500000  7800.500000  8638.500000
           75%    6362.500000  6676.250000  7933.250000  8855.250000
           max    7369.000000  7187.000000  8066.000000  9072.000000
2018-05-05 count     2.000000     2.000000     2.000000     2.000000
           mean   6223.500000  4914.500000  2224.500000  5645.000000
           std    1552.099385  5230.468860  2168.696498  4177.586863
           min    5126.000000  1216.000000   691.000000  2691.000000
           0%     5126.000000  1216.000000   691.000000  2691.000000
           25%    5674.750000  3065.250000  1457.750000  4168.000000
           50%    6223.500000  4914.500000  2224.500000  5645.000000
           75%    6772.250000  6763.750000  2991.250000  7122.000000
           max    7321.000000  8613.000000  3758.000000  8599.000000

                         MSFT
2018-05-01 count     2.000000
           mean   4535.500000
           std    3970.404576
           min    1728.000000
           0%     1728.000000
           25%    3131.750000
           50%    4535.500000
           75%    5939.250000
           max    7343.000000
2018-05-02 count     2.000000
           mean   7346.500000
           std     294.863528
           min    7138.000000
           0%     7138.000000
           25%    7242.250000
           50%    7346.500000
           75%    7450.750000
           max    7555.000000
2018-05-03 count     2.000000
           mean   5920.500000
           std    4980.153060
           min    2399.000000
           0%     2399.000000
           25%    4159.750000
           50%    5920.500000
           75%    7681.250000
           max    9442.000000
2018-05-04 count     2.000000
           mean   1692.000000
           std    1350.573952
           min     737.000000
           0%      737.000000
           25%    1214.500000
           50%    1692.000000
           75%    2169.500000
           max    2647.000000
2018-05-05 count     2.000000
           mean   4215.500000
           std    4369.212801
           min    1126.000000
           0%     1126.000000
           25%    2670.750000
           50%    4215.500000
           75%    5760.250000
           max    7305.000000

In [11]:
deciles = np.arange(0.0,0.91,0.25)
deciles

array([0.  , 0.25, 0.5 , 0.75])

In [13]:
df.groupby(org).describe().T

                         AAPL         AMZN           FB         GOOG  \
2018-05-01 count     2.000000     2.000000     2.000000     2.000000
           mean   5373.500000  7208.000000  5867.500000  3052.500000
           std    3063.893683  1886.560892  5128.645484  2219.608186
           min    3207.000000  5874.000000  2241.000000  1483.000000
           25%    4290.250000  6541.000000  4054.250000  2267.750000
           50%    5373.500000  7208.000000  5867.500000  3052.500000
           75%    6456.750000  7875.000000  7680.750000  3837.250000
           max    7540.000000  8542.000000  9494.000000  4622.000000
2018-05-02 count     2.000000     2.000000     2.000000     2.000000
           mean   7147.000000  3743.500000  2587.000000  8219.000000
           std    3647.256777  2981.869296  2934.493142   284.256926
           min    4568.000000  1635.000000   512.000000  8018.000000
           25%    5857.500000  2689.250000  1549.500000  8118.500000
           50%    7147.000000  3743.500000  2587.000000  8219.000000
           75%    8436.500000  4797.750000  3624.500000  8319.500000
           max    9726.000000  5852.000000  4662.000000  8420.000000
2018-05-03 count     2.000000     2.000000     2.000000     2.000000
           mean   4957.500000  3587.500000  7084.500000  3616.500000
           std    3713.017708  1489.873988  3499.471460   248.194480
           min    2332.000000  2534.000000  4610.000000  3441.000000
           25%    3644.750000  3060.750000  5847.250000  3528.750000
           50%    4957.500000  3587.500000  7084.500000  3616.500000
           75%    6270.250000  4114.250000  8321.750000  3704.250000
           max    7583.000000  4641.000000  9559.000000  3792.000000
2018-05-04 count     2.000000     2.000000     2.000000     2.000000
           mean   5356.000000  6165.500000  7800.500000  8638.500000
           std    2846.811901  1444.619154   375.473701   613.061579
           min    3343.000000  5144.000000  7535.000000  8205.000000
           25%    4349.500000  5654.750000  7667.750000  8421.750000
           50%    5356.000000  6165.500000  7800.500000  8638.500000
           75%    6362.500000  6676.250000  7933.250000  8855.250000
           max    7369.000000  7187.000000  8066.000000  9072.000000
2018-05-05 count     2.000000     2.000000     2.000000     2.000000
           mean   6223.500000  4914.500000  2224.500000  5645.000000
           std    1552.099385  5230.468860  2168.696498  4177.586863
           min    5126.000000  1216.000000   691.000000  2691.000000
           25%    5674.750000  3065.250000  1457.750000  4168.000000
           50%    6223.500000  4914.500000  2224.500000  5645.000000
           75%    6772.250000  6763.750000  2991.250000  7122.000000
           max    7321.000000  8613.000000  3758.000000  8599.000000

                         MSFT
2018-05-01 count     2.000000
           mean   4535.500000
           std    3970.404576
           min    1728.000000
           25%    3131.750000
           50%    4535.500000
           75%    5939.250000
           max    7343.000000
2018-05-02 count     2.000000
           mean   7346.500000
           std     294.863528
           min    7138.000000
           25%    7242.250000
           50%    7346.500000
           75%    7450.750000
           max    7555.000000
2018-05-03 count     2.000000
           mean   5920.500000
           std    4980.153060
           min    2399.000000
           25%    4159.750000
           50%    5920.500000
           75%    7681.250000
           max    9442.000000
2018-05-04 count     2.000000
           mean   1692.000000
           std    1350.573952
           min     737.000000
           25%    1214.500000
           50%    1692.000000
           75%    2169.500000
           max    2647.000000
2018-05-05 count     2.000000
           mean   4215.500000
           std    4369.212801
           min    1126.000000
           25%    2670.750000
           50%    4215.500000
           75%    5760.250000
           max    7305.000000

In [14]:
import folium 
from geopy.geocoders import Nominatim

geolocator = Nominatim()
loc = geolocator.geocode("1050 Enterprise way Sunnyvale CA 94089")
m = folium.Map(location=[loc.latitude,loc.longitude],zoom_start=18)
m